

h1 {
    color: #333;
    text-align: center;
}
p {
    margin-top: 1rem;
}
.profile-image{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
.nav-accesa {
    background-color: #337ab7;
    margin-bottom: 1rem;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link {
    color: white;
}
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.embed-responsive::before {
    display: block;
    content: "";
}
.embed-responsive-16by9::before {
    padding-top: 56.25%;
}
.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#btn-download, #btn-download-zip {
 display: inline;
}
.footer-custom{
    background-color:#337ab7;
    color: white;
    text-decoration: none !important;

}
.text-white:hover{
color: black !important;
}
a{
    text-decoration: none !important;

}